.about__prof {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 18px 0 0 0;
}

@media (min-width: 720px) and (max-width: 768px) {
    .about__prof {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin-top: 16px;
    }
}

@media (max-width: 719px) {
    .about__prof {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #000000;
    }
}