.secret {
    width: 100%;
    max-width: 520px;
    height: 100vh;
    transition: color .25s ease-in-out;
    transition: right 0.3s;
    position: fixed;
    right: -520px;
    background-color: #FFFFFF;
}