.footer__container {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    margin: 0 70px 20px;
    border-top: 1px solid #E8E8E8;
}

@media (min-width: 720px) and (max-width: 768px) {
    .footer__container {
        margin: 0 30px 20px;
    }
}

@media (max-width: 719px) {
    .footer__container {
        margin: 0 10px 0;
        flex-direction: column-reverse;
    }
}