.search__container {
    margin: 26px 70px 0;
    padding-bottom:  43px;
    display: flex;
    align-items: start;
    border-bottom: rgb(170, 170, 170, .2);
}

@media (max-width: 768px) {
    .search__container {
        margin: 26px 30px 0;
    }
}

@media (max-width: 719px) {
    .search__container {
        margin: 30px 14px 0;
        padding-bottom:  63px;
    }
}