.techs__lang_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: auto;
}

@media (max-width: 719px) {
    .techs__lang_text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #000000;
    }
}