.secret__button {
    margin: auto 0 90px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    background: #F4F4F4;
    border-radius: 20px;
    width: 100px;
    height: 32px;
    border: none;
    justify-content: center;
}

.secret__button:hover {
    cursor: pointer;
}

@media (max-width: 719px) {
    .secret__button {
        margin-bottom: 46px;
    }
}