.project__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0 0 0;
}

@media (max-width: 719px) {
    .project__text {
        margin: 0 0 0 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: #000000;
    }
}