.about__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin: 26px 0 99px 0;
}

@media (min-width: 720px) and (max-width: 768px) {
    .about__text {
        max-width: 364px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin: 20px 0 87px 0;
    }
}

@media (max-width: 719px) {
    .about__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: #000000;
        margin: 20px 0 40px 0;
    }
}